$primary-color: #eee;
$secondary-color: #a33;
$tertiary-color: #b44;

$primary-color-rgba: rgba(238, 238, 238, 0.75);
$secondary-color-rgba: rgba(170, 51, 51, 0.75);
$tertiary-color-rgba: rgba(0, 0, 0, 0.5);